@import "../../variables.scss";

.btn {
  display: inline-block;
  padding: 14px 0;
  border: 2px solid $default;

  font-size: inherit;
  line-height: 20px;
  color: inherit;
  text-align: center;
  text-transform: uppercase;

  background-color: $white;

  cursor: pointer;

  &:hover,
  &:focus {
    color: $white;

    background-color: $default;
  }

  &:active {
    color: rgba($color: $white, $alpha: 0.3);
  }
}
