@import "../../variables.scss";

@import "../common/sizes.scss";

.cart-add {
  padding: 0 30px;

  width: 100vw;

  background-color: $white;

  @media (min-width: $tablet-width) {
    padding: 0 110px;
    width: 570px;
  }
}

.cart-add__heading {
  margin: 0;
  margin-top: 35px;
  margin-bottom: 15px;
  padding: 0 60px;

  font-size: 25px;
  line-height: 30px;
  color: $black;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: 45px;
    padding: 0;

    font-size: 30px;
    line-height: 57px;
  }
}
