@import "../../variables.scss";

.copyright {
  text-align: center;
}

.copyright__text {
  margin-right: 30px;

  font-size: 19px;
  line-height: 18px;
  color: $black;
}

.copyright__logo {
  vertical-align: middle;

  &:hover,
  &:focus {
    fill: $dark-cyan;
  }

  &:active {
    fill: rgba($color: $dark-cyan, $alpha: 0.3);
  }
}
