@import "./website-navbar.scss";
@import "./special-navbar.scss";
@import "./user-navbar.scss";

@keyframes main-navigation-show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.main-navigation {
  position: relative;
}

.main-navigation__wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;

  width: 100%;

  animation: main-navigation-show 0.4s forwards;

  @media (min-width: $tablet-width) {
    position: static;

    display: flex;
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.main-navigation__website-navbar {
  margin: 0;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 100%;
    left: 50px;
  }

  @media (min-width: $desktop-width) {
    position: static;
  }
}

.main-navigation__special-navbar {
  margin: 0;

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 100%;
    left: 50px;
  }
}

.main-navigation__user-navbar {
  margin: 0;
}

.main-navigation__trigger {
  position: absolute;
  top: -80px;
  right: 0;

  padding: 0;
  border: none;
  width: 80px;
  height: 80px;

  background-color: transparent;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 39px;
    right: 30px;

    width: 24px;
    height: 2px;

    background-color: $black;

    transition: all 0.3s;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

@media (max-width: $tablet-width - 1) {
  .main-navigation--closed {
    .main-navigation__wrapper {
      display: none;
    }

    .main-navigation__trigger {
      &::after {
        content: none;
      }

      &::before {
        top: 33px;

        width: 20px;

        box-shadow: 0 6px $black, 0 12px $black;

        transform: none;
      }
    }
  }
}
