@import "../../variables.scss";

@keyframes modal-show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.modal {
  position: fixed;
  top: 30vh;
  z-index: 100;

  display: none;

  box-shadow: 0 6px 10px rgba($color: $black, $alpha: 0.1),
    0 -6px 10px rgba($color: $black, $alpha: 0.1);

  animation: modal-show 0.8s forwards;

  @media (min-width: $tablet-width) {
    top: 20vh;
    left: 50vw;

    transform: translateX(-50%);
  }
}
