@import "../../variables.scss";

@keyframes modal-overlay-show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;

  display: none;
  width: 100vw;
  height: 100vh;

  background-color: rgba($color: $white, $alpha: 0.9);

  animation: modal-overlay-show 0.5s forwards;
}
