@import "../../variables.scss";

@import "../catalog/catalog.scss";
@import "../custom-knitting/order.scss";

.page-inner {
  overflow: hidden;

  background-color: $light-gray;
}

.page-inner__heading {
  margin: 0;
  margin-top: 70px;
  margin-bottom: 75px;

  font-size: 27px;
  line-height: 30px;
  color: $black;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: 100px;
    margin-bottom: 85px;

    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 105px;

    font-size: 53px;
    line-height: 57px;
  }
}
