@import "../../variables.scss";

@import "./socials.scss";
@import "./copyright.scss";

.page-footer {
  overflow: hidden;

  background-color: $light-gray;
}

.page-footer__wrapper {
  margin: 0 auto;
  padding: 0px 30px;
  max-width: $desktop-width;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 50px;
  }
}

.page-footer__logo {
  display: none;

  &:hover,
  &:focus {
    svg {
      fill: $light-cyan;
    }
  }

  &:active {
    svg {
      fill: rgba($color: $light-cyan, $alpha: 0.3);
    }
  }

  @media (min-width: $tablet-width) {
    display: block;
    width: 200px;
  }
}

.page-footer__copyright {
  margin: 22px 0;

  @media (min-width: $tablet-width) {
    margin: 57px 0;
  }
}
