@import "../../variables.scss";

@import "./main-navigation.scss";

.page-header {
  padding: 0.5px 0;

  background-color: $white;
}

.page-header__wrapper {
  position: relative;

  margin: 0 auto;
  max-width: $desktop-width;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $light-gray;
  }
}

.page-header__logo {
  display: block;
  margin: 22px auto;
  width: 85px;

  &[href]:hover,
  &[href]:focus {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 22px;
    left: 50px;
    z-index: 10;

    margin: 0;
    width: 112px;
  }

  @media (min-width: $desktop-width) {
    top: 10px;
    left: 500px;

    width: 148px;
  }
}

.page-header__logo img {
  width: 100%;

  vertical-align: bottom;
}

.page-header__delivery {
  display: none;

  font-size: 15px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 100%;
    right: 50px;

    display: block;
    margin-top: 20px;
  }
}
