@import "../../variables.scss";

.sizes__heading {
  margin: 0;
  margin-bottom: 25px;

  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: inherit;
  }
}

.sizes__list {
  display: flex;
  justify-content: space-between;

  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  list-style: none;
}

.sizes__item {
  width: 31.5%;

  input[type="radio"]:checked + .sizes__trigger {
    border-color: $light-cyan;
  }
}

.sizes__trigger {
  display: block;
  padding-top: 15px;
  border: 2px solid $light-gray;
  width: 100%;
  height: 52px;

  font-weight: bold;
  line-height: 16px;
  text-align: center;

  cursor: pointer;

  &:hover,
  &:focus {
    border-color: $gray;
  }
}

.sizes__submit {
  margin-bottom: 30px;
  padding: 12px 0;
  border: none;
  width: 100%;

  font-size: inherit;
  color: $white;

  background-color: $dark-cyan;

  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }
}
