@import "../../variables.scss";

@keyframes slide {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.slider {
  position: relative;
}

.slider__slide {
  display: none;

  &--current {
    display: block;

    animation: 0.8s forwards;
    animation-name: slide;
  }
}

.slider__controls {
  display: flex;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 0;
    right: 0;

    width: 175px;
  }
}

.slider__control {
  padding: 0;
  border: 1px solid $light-gray;
  width: 50%;
  height: 50px;

  font-size: 0;

  background: transparent no-repeat center;

  outline: none;
  cursor: pointer;

  &--prev {
    border-right: none;

    background-image: url("img/icon-left-arrow.svg");
  }

  &--next {
    background-image: url("img/icon-right-arrow.svg");
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    border: none;
  }
}
