.socials {
  padding: 30px 0;
  border-bottom: 1px solid $gray;

  @media (min-width: $tablet-width) {
    padding: 57px 0;
    border: none;
  }
}

.socials__list {
  display: flex;
  justify-content: space-between;

  margin: 0 auto;
  padding: 0;
  width: 143px;

  list-style: none;
}

.socials__link {
  display: block;
  width: 25px;
  height: 30px;

  &:hover,
  &:focus {
    .socials__icon {
      fill: $light-cyan;
    }
  }

  &:active {
    .socials__icon {
      fill: rgba($color: $light-cyan, $alpha: 0.3);
    }
  }
}

.socials__icon {
  vertical-align: bottom;
}
