@import "../../variables.scss";

.special-navbar {
  display: none;

  padding: 0;

  list-style: none;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.special-navbar__item {
  margin: 20px 0;
  margin-right: 63px;
}

.special-navbar__link {
  font-weight: bold;
  font-size: 15px;
  color: $black;

  background-color: transparent;

  &:hover,
  &:focus {
    color: rgba($color: $black, $alpha: 0.6);
  }

  &:active {
    color: rgba($color: $black, $alpha: 0.3);
  }
}
