@import "../../variables.scss";

.user-navbar {
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.user-navbar__item {
  border-top: 1px solid $light-gray;

  @media (min-width: $tablet-width) {
    border-top: none;
    border-left: 1px solid $light-gray;
  }
}

.user-navbar__link {
  position: relative;

  display: block;
  padding: 28px 30px;
  padding-left: 75px;

  font-weight: bold;
  color: $black;

  background-color: $white;

  &:hover,
  &:focus {
    color: rgba($color: $black, $alpha: 0.6);

    .user-navbar__icon {
      fill: $light-cyan;
    }
  }

  &:active {
    color: rgba($color: $black, $alpha: 0.3);

    .user-navbar__icon {
      fill: rgba($color: $light-cyan, $alpha: 0.3);
    }
  }

  @media (min-width: $tablet-width) {
    padding: 33px 50px;
    padding-left: 85px;

    &--no-text {
      padding-right: 0;

      font-size: 0;
    }
  }
}

.user-navbar__icon {
  position: absolute;
  top: 31px;
  left: 30px;

  @media (min-width: $tablet-width) {
    top: 35px;
    left: 33px;
  }
}
