@import "../../variables.scss";

.website-navbar {
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.website-navbar__item {
  border-top: 1px solid $light-gray;

  @media (min-width: $tablet-width) {
    margin: 20px 0;
    margin-right: 35px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    border-left: 1px solid $light-gray;
  }
}

.website-navbar__link {
  display: block;
  padding: 28px 30px;
  padding-left: 75px;

  font-weight: bold;
  color: $black;

  background-color: $white;

  &:hover,
  &:focus {
    color: rgba($color: $black, $alpha: 0.6);
  }

  &:active {
    color: rgba($color: $black, $alpha: 0.3);
  }

  @media (min-width: $tablet-width) {
    padding: 0;

    font-size: 15px;

    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    padding: 33px 35px;

    font-size: inherit;

    background-color: $white;
  }
}

@media (min-width: $desktop-width) {
  .website-navbar__item:first-child {
    border-left: none;

    .website-navbar__link {
      padding-left: 50px;
    }
  }
}
