@import "../../variables.scss";

.checkbox-input__trigger {
  position: relative;

  display: block;
  padding-top: 8px;
  padding-bottom: 14px;
  margin-left: 62px;

  font-weight: bold;
  line-height: 18px;
  color: $black;

  cursor: pointer;

  &::before {
    content: "";

    position: absolute;
    top: 0px;
    left: -62px;

    border: 2px solid $black;
    width: 40px;
    height: 40px;
  }

  &:hover,
  &:focus {
    color: $light-cyan;

    &::before {
      border-color: $light-cyan;
    }
  }

  &:active {
    color: $black;
    opacity: 0.3;

    &::before {
      border-color: $black;
    }
  }
}

.checkbox-input input[type="checkbox"]:checked + .checkbox-input__trigger {
  &::before {
    background: url("img/icon-tick.svg") no-repeat center;
    background-size: 24px 16px;
  }
}
