@import "../../variables.scss";

@import "./radio-input.scss";
@import "./checkbox-input.scss";
@import "./text-input.scss";
@import "./textarea-input.scss";

.order-form {
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.order-form__wrapper {
  background-color: $white;

  @media (min-width: $tablet-width) {
    &--gray {
      background-color: $light-gray;
    }
  }
}

.order-form__section {
  position: relative;

  margin: 0 auto;
  padding: 33px 0 39px;
  border: none;
  border-top: 1px solid $light-cyan;
  max-width: $desktop-width;

  background-color: inherit;

  @media (min-width: $tablet-width) {
    padding: 50px;
    padding-left: 217px;
    border: none;

    &--no-bottom {
      padding-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 225px;
    padding-right: 225px;

    &--no-right {
      padding-right: 0;
    }
  }
}

.order-form__section-name {
  position: absolute;
  top: 0;
  left: 0;

  padding-right: 20px;

  font-weight: bold;
  line-height: 16px;
  color: $light-cyan;
  text-transform: uppercase;

  background-color: inherit;

  transform: translateY(-50%);

  @media (min-width: $tablet-width) {
    top: 58px;
    left: 50px;

    transform: none;
  }

  @media (min-width: $desktop-width) {
    left: 110px;
  }
}

.order-form__radio-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.order-form__radio-item {
  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 0;
  }
}

.order-form__checkbox-list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
  }
}

.order-form__checkbox-item {
  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 260px;
  }
}

.order-form__fullname-input {
  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 0;
  }
}

.order-form__foot-wrapper {
  margin: 0 auto;
  max-width: $desktop-width;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 225px;
  }
}

.order-form__footnote {
  position: relative;
  z-index: 1;

  margin: 0;
  margin-top: -25px;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    order: 1;

    margin: 0;

    font-size: inherit;
  }
}

.order-form__submit {
  width: 100%;

  line-height: 16px;

  @media (min-width: $tablet-width) {
    width: 230px;
  }
}
