@import "./order-form.scss";

.order {
  padding-top: 30px;
  padding-bottom: 55px;

  background-color: $white;

  @media (min-width: $tablet-width) {
    padding-top: 80px;
    padding-bottom: 50px;

    &::before {
      content: "";

      position: relative;
      top: -100px;

      display: block;
      height: 20px;

      background: url("img/bg-zigzag-fill.svg") repeat-x;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 130px;

    &::before {
      top: -150px;
    }
  }
}

.order__wrapper {
  margin: 0 auto;
  padding: 0 30px;
  max-width: $desktop-width;

  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 225px;
  }
}

.order__info {
  margin: 0;
  margin-bottom: 35px;

  font-size: 13px;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;

    font-size: inherit;
    line-height: 30px;
  }
}
