@import "../../variables.scss";

.radio-input__trigger {
  position: relative;

  display: block;
  padding-top: 8px;
  padding-bottom: 14px;
  margin-left: 62px;

  font-weight: bold;
  line-height: 18px;
  color: $black;

  cursor: pointer;

  &::before {
    content: "";

    position: absolute;
    top: 0px;
    left: -62px;

    border: 2px solid $black;
    width: 40px;
    height: 40px;

    border-radius: 50%;
  }

  &:hover,
  &:focus {
    color: $light-cyan;

    &::before {
      border-color: $light-cyan;
    }
  }

  &:active {
    color: $black;
    opacity: 0.3;

    &::before {
      border-color: $black;
    }
  }
}

.radio-input input[type="radio"]:checked + .radio-input__trigger {
  &::after {
    content: "";

    position: absolute;
    top: 12px;
    left: -50px;

    width: 16px;
    height: 16px;

    background-color: $light-cyan;
    border-radius: 50%;
  }
}
