@import "../../variables.scss";

.text-input {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.text-input__label {
  display: block;
  margin-bottom: 20px;

  font-weight: bold;
  line-height: 18px;
  color: $black;

  @media (min-width: $tablet-width) {
    margin-right: 25px;
  }
}

.text-input__field {
  padding-bottom: 15px;
  border: none;
  border-bottom: 2px solid $black;
  width: 100%;

  line-height: 18px;
  color: inherit;

  background-color: transparent;

  outline: none;

  &::placeholder {
    color: rgba($color: $default, $alpha: 0.3);
  }

  &:hover,
  &:focus,
  &:active {
    border-bottom-color: $light-cyan;
  }

  &--icon {
    padding-right: 50px;

    background: no-repeat 99% 0;
  }

  &--phone {
    background-image: url("img/icon-phone.svg");

    &:hover,
    &:focus,
    &:active {
      background-image: url("img/icon-phone-cyan.svg");
    }
  }

  &--email {
    background-image: url("img/icon-mail.svg");

    &:hover,
    &:focus,
    &:active {
      background-image: url("img/icon-mail-cyan.svg");
    }
  }
}
