@import "../../variables.scss";

.textarea-input__field {
  padding: 12px;
  border: 2px solid $black;
  width: 100%;

  line-height: 18px;
  color: inherit;

  outline: none;

  &::placeholder {
    color: rgba($color: $default, $alpha: 0.3);
  }

  &:hover,
  &:focus,
  &:active {
    border-color: $light-cyan;
  }
}
