@import "../../variables.scss";

.about {
  background-color: $white;
}

.about__wrapper {
  margin: 0 auto;
  padding: 0 30px;
  max-width: $desktop-width;

  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 225px;
  }
}

.about__heading {
  margin: 33px 0;

  font-size: 25px;
  line-height: 30px;
  color: $black;

  @media (min-width: $tablet-width) {
    margin: 50px 0;

    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 65px;

    font-size: 53px;
    line-height: 57px;
  }
}

.about__list {
  margin: 0;
  margin-bottom: 55px;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;

    margin-bottom: 75px;
    height: 420px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 85px;
  }
}

.about__item {
  position: relative;

  margin-bottom: 40px;
  padding-top: 60px;

  font-weight: bold;
  line-height: 20px;
  color: $black;

  background: no-repeat 10px 0;

  &--eco {
    background-image: url("img/icon-feature-flower.svg");
  }

  &--price {
    background-image: url("img/icon-feature-money.svg");
    background-position-x: 0;
  }

  &--likes {
    background-image: url("img/icon-feature-heart.svg");
  }

  &--knitting {
    background-image: url("img/icon-feature-ball.svg");
  }

  &--support {
    background-image: url("img/icon-feature-rocket.svg");
    background-position-x: 0;
  }

  &--gift {
    background-image: url("img/icon-feature-gift.svg");
  }

  @media (min-width: $tablet-width) {
    padding-right: 3%;
    width: 50%;
    height: 100px;

    font-size: 20px;
    line-height: 22px;
  }
}
