@import "../../variables.scss";

.categories__list {
  margin: 0 auto;
  padding: 0;
  max-width: $desktop-width;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;

    padding: 0 50px;
  }
}

.categories__item {
  &--left {
    background-color: $light-cyan;
  }

  &--right {
    background-color: $dark-cyan;
  }

  @media (min-width: $tablet-width) {
    width: 50%;

    &:hover,
    &:focus {
      transform: translateY(-5px);
    }
  }
}

.categories__link {
  display: block;
  padding: 28px 30px;
  padding-right: calc(100% - 130px);

  font-weight: bold;
  font-size: 19px;
  color: $white;

  background: no-repeat 95% 35%;

  &--interior {
    background-image: url("img/icon-interior.svg");
  }

  &--toys {
    background-image: url("img/icon-toy.svg");
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding-top: 30px;
    padding-bottom: 60px;
    padding-left: 35px;

    font-size: 20px;
    line-height: 30px;
  }
}
