@import "../../variables.scss";

.contacts {
  position: relative;

  line-height: 30px;

  background-color: $white;
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: 0px 30px;
  max-width: $desktop-width;

  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding: 0px 50px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 225px;
  }
}

.contacts__heading {
  position: relative;

  margin: 0;
  padding: 40px 0;

  font-size: 18px;
  color: $black;

  @media (min-width: $tablet-width) {
    padding: 65px 0;

    font-size: 43px;
    line-height: 50px;

    &::before {
      content: "";

      position: absolute;
      top: 40px;
      right: 0px;

      width: 50px;
      height: 80px;

      background: url("img/icon-flag.svg") no-repeat;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;

    &::before {
      left: -100px;
      right: auto;
    }
  }
}

.contacts__list {
  margin-bottom: 10px;
  width: 100%;

  td {
    padding-bottom: 35px;

    vertical-align: top;
  }

  @media (min-width: $tablet-width) {
    tbody {
      display: flex;
    }

    tr {
      width: 50%;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
    width: 350px;

    tbody {
      display: block;
    }

    tr {
      width: auto;
    }
  }
}

.contacts__key {
  width: 78px;

  font-size: 15px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.contacts__value {
  font-size: 15px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.contacts__link {
  color: inherit;
  text-decoration: underline $light-cyan;

  &:hover,
  &:focus {
    color: $light-cyan;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__map {
  position: relative;

  display: block;
  margin-bottom: 40px;
  width: 100%;

  img {
    width: 100%;

    vertical-align: bottom;
  }

  &::before {
    content: "";

    position: absolute;
    top: 31%;
    left: 42%;

    width: 21%;
    height: 22%;

    background: url("img/icon-map-pin.svg") no-repeat;
    background-size: cover;
  }

  @media (min-width: $tablet-width) {
    &::before {
      top: 28%;
      left: 46%;

      width: 10%;
      height: 25%;
    }
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 105px;
    left: 50%;

    margin: 0;
    width: 525px;

    &::before {
      left: 45%;

      width: 14%;
    }
  }
}

.contacts__feedback {
  margin-bottom: 40px;
  width: 100%;

  font-size: 18px;

  @media (min-width: $tablet-width) {
    align-self: center;

    margin-bottom: 60px;
    width: 230px;
  }

  @media (min-width: $desktop-width) {
    align-self: flex-start;

    margin-bottom: 105px;
  }
}
