@import "../../variables.scss";

.featured {
  background-color: $white;

  @media (min-width: $tablet-width) {
    &::before {
      content: "";

      position: relative;
      top: -20px;

      display: block;
      height: 20px;

      background: url("img/bg-zigzag-fill.svg") repeat-x;
    }

    &::after {
      content: "";

      position: relative;
      bottom: 0px;

      display: block;
      height: 25px;

      background: url("img/bg-zigzag-line.svg") repeat-x;
    }
  }
}

.featured__wrapper {
  position: relative;

  margin: 0 auto;
  padding: 0 30px;
  max-width: $desktop-width;

  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 225px;
  }
}

.featured__heading {
  margin: 0;
  margin-top: 21px;
  margin-bottom: 10px;

  font-size: 25px;
  line-height: 30px;
  color: $black;

  @media (min-width: $tablet-width) {
    margin-top: 65px;
    margin-bottom: 55px;

    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    z-index: 5;

    margin-top: 145px;
    margin-bottom: 55px;

    font-size: 53px;
    line-height: 57px;
  }
}

.featured__label {
  display: block;
  margin-bottom: 30px;

  line-height: 20px;
  color: $light-cyan;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 75px;
    right: 50px;

    width: 100px;

    text-align: center;
  }

  @media (min-width: $desktop-width) {
    top: 155px;
    left: 70px;
    right: auto;
  }
}

.featured__content-wrapper {
  position: relative;

  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
    padding-right: 56.6%;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 95px;
    padding-right: 585px;
  }
}

.featured__description {
  margin: 0;
  margin-bottom: 20px;

  font-size: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;

    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}

.featured__specs {
  margin-bottom: 30px;
  width: 100%;

  border-collapse: collapse;

  td {
    padding: 10px 0;
    border-bottom: 1px solid $light-gray;

    font-size: 15px;
    line-height: 20px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 100px;
  }
}

.featured__key {
  width: 38%;
}

.featured__value {
  width: 62%;
}

.featured__picture {
  display: block;
  margin-bottom: 25px;
  width: 100%;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    right: 0;

    margin: 0;
    width: 333px;
  }

  @media (min-width: $desktop-width) {
    top: auto;
    bottom: 0;
    right: 0;

    width: 525px;
  }
}

.featured__price {
  display: block;
  margin-bottom: 25px;

  font-weight: bold;
  color: $black;
  text-align: center;
}

.featured__order {
  width: 100%;
}
