@import "../../variables.scss";

@import "./categories.scss";
@import "./featured.scss";
@import "./about.scss";
@import "./reviews.scss";
@import "./contacts.scss";

.page-main {
  overflow: hidden;

  background: url("img/hero-mobile@1x.jpg") #f9f9f9 no-repeat center 0;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("img/hero-mobile@2x.jpg");
    background-size: 125%;
  }

  @media (min-width: $tablet-width) {
    background-image: url("img/hero-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("img/hero-tablet@2x.jpg");
      background-size: 130%;
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("img/hero-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("img/hero-desktop@2x.jpg");
      background-size: 1150px;
    }
  }
}

.page-main__heading {
  margin: 75px auto 120px;
  width: 320px;

  font-size: 27px;
  line-height: 30px;
  color: $black;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 160px auto 370px;
    width: 500px;

    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 350px;
    width: 700px;

    font-size: 53px;
    line-height: 57px;
  }
}
