@import "../../variables.scss";

@import "../common/slider.scss";

.reviews {
  background-color: $white;

  @media (min-width: $tablet-width) {
    &::after {
      content: "";

      position: relative;
      bottom: 30px;

      display: block;
      height: 25px;

      background: url("img/bg-zigzag-line.svg") repeat-x;
    }
  }
}

.reviews__wrapper {
  position: relative;

  margin: 0 auto;
  padding: 0px 30px;
  max-width: $desktop-width;

  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding: 0px 50px;

    background: url("img/review@1x.jpg") no-repeat 0 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("img/review@2x.jpg");
      background-size: 350px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 225px;

    background-position-x: 50px;
  }
}

.reviews__heading {
  margin: 0;
  margin-bottom: 30px;

  font-size: 25px;
  line-height: 30px;
  color: $black;

  @media (min-width: $tablet-width) {
    margin-top: 80px;
    margin-bottom: 55px;

    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 45px;

    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 135px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 190px;
  }
}

.reviews__text {
  margin: 0;
  margin-bottom: 35px;

  font-size: 15px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;

    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
    padding-right: 100px;
  }
}

.reviews__author {
  display: block;

  font-weight: bold;
  color: $black;
}

.reviews__twitter-username {
  line-height: 30px;
}

.reviews__write {
  margin-top: 40px;
  margin-bottom: 50px;
  width: 100%;

  font-size: 18px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 80px;
    right: 50px;

    margin: 0;
    width: 175px;
  }
}
