@import "../../variables.scss";

@import "../catalog/product.scss";
@import "../catalog/manufacturing.scss";

.catalog {
  background-color: $white;

  @media (min-width: $tablet-width) {
    &::before {
      content: "";

      position: relative;
      top: -20px;

      display: block;
      height: 20px;

      background: url("img/bg-zigzag-fill.svg") repeat-x;
    }
  }
}

.catalog__list {
  margin: 0 auto;
  padding: 30px;
  padding-bottom: 20px;
  max-width: 1150px;

  overflow: hidden;
  list-style: none;

  @media (min-width: $tablet-width) {
    padding: 80px 50px 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;

    padding-top: 130px;
  }
}

.catalog__item {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 315px;
  }
}
