@import "../../variables.scss";

.manufacturing {
  padding-bottom: 60px;

  background-color: $white;

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }
}

.manufacturing__wrapper {
  margin: 0 auto;
  padding: 0 30px;
  max-width: $desktop-width;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;

    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: wrap;

    height: 530px;
  }
}

.manufacturing__header-wrapper {
  padding: 28px;
  border: 1px solid $light-gray;
  border-bottom: none;

  @media (min-width: $tablet-width) {
    padding: 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 40px 60px 20px 80px;
    width: 368px;
  }
}

.manufacturing__heading {
  margin: 0;
  padding: 5px 0;
  padding-left: 65px;

  font-size: inherit;
  line-height: inherit;
  color: $black;

  background: url("img/icon-video.svg") no-repeat;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 50px;
  }
}

.manufacturing__video-wrapper {
  position: relative;

  @media (min-width: $tablet-width) {
    order: -1;
  }

  @media (min-width: $desktop-width) {
    width: 683px;
  }
}

.manufacturing__video {
  width: 100%;

  vertical-align: bottom;
  object-fit: cover;
}

.manufacturing__info-wrapper {
  padding: 28px;
  border: 1px solid $light-gray;
  border-top: none;

  @media (min-width: $tablet-width) {
    padding: 40px;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0px 60px 50px 80px;
    width: 368px;
  }
}

.manufacturing__play {
  position: absolute;
  top: 50%;
  left: 50%;

  border: none;
  width: 100px;
  height: 75px;

  background: url("img/icon-play.svg") no-repeat;
  outline: none;
  cursor: pointer;

  transform: translate(-50%, -50%);

  &:hover,
  &:focus {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);
  }
}

.manufacturing__info {
  margin: 0;
  margin-bottom: 18px;

  font-size: 13px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 28px;
  }
}

.manufacturing__order {
  width: 100%;
}
