@import "../../variables.scss";

.product__link {
  height: 100%;

  color: inherit;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px rgba($color: $black, $alpha: 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba($color: $black, $alpha: 0.1);
  }

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.product__wrapper {
  padding: 28px;
  border: 1px solid $light-gray;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;

    width: 50%;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;

    width: 100%;
  }
}

.product__title {
  margin: 0;
  margin-bottom: 15px;

  font-size: inherit;
  line-height: inherit;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.product__picture {
  width: 100%;

  img {
    width: 100%;
    vertical-align: bottom;
  }

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.product__description {
  display: block;
  margin: 0;
  padding-bottom: 25px;

  font-size: 13px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: auto;

    font-size: 15px;
  }
}

.product__price {
  display: block;
  padding-top: 25px;
  border-top: 1px solid $light-gray;

  font-weight: bold;
  font-size: 15px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: inherit;
  }
}
