@import "./variables.scss";

@font-face {
  font-family: "OpenSans";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/opensans.woff2") format("woff2"),
    url("fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "OpenSans";
  font-weight: bold;
  font-style: normal;
  src: url("fonts/opensansbold.woff2") format("woff2"),
    url("fonts/opensansbold.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font: normal 17px / 24px "OpenSans", "Arial", sans-serif;
  color: $default;

  background-color: $white;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
