$white: #ffffff;
$black: #000000;
$default: #444444;
$gray: #e5e5e5;
$light-gray: #f1f1f1;
$light-cyan: #63d1bb;
$dark-cyan: #56c3b2;

$tablet-width: 768px;
$desktop-width: 1150px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
